<ion-header translucent="true" >
  <a routerLink="/home" routerLinkActive="active" class="header-logo-link">
    <img src="assets/quicksters-256.webp" class="header-logo">
  </a>
    <ion-title><span id="header-colored">Quick</span>sters</ion-title>
  
    
  <nav class="desktop-nav">
    <li>
      <ul class="nav-links">
        <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/foros" routerLinkActive="active">Foros</a></li>
        <li><a routerLink="/juegos" routerLinkActive="active">Juegos</a></li>
        <li><a routerLink="/soporte" routerLinkActive="active">Soporte</a></li>
      </ul>
    </li>
    <div>
      <ion-searchbar placeholder="Buscar tabla.." class="searchbar" ></ion-searchbar>
    </div>

    <ng-container *ngIf="isAuthenticated$ | async; else notLogged">
    <ion-button id="cerrar-sesion" (click)="logout()">Cerrar sesión</ion-button>
    </ng-container>
    
    <ng-template #notLogged >
      <ion-button id="iniciar-sesion" routerLink="/login">Iniciar sesión</ion-button>
      <ion-button id="registrarse" routerLink="/registro">Registrarse</ion-button>
    </ng-template>
    
  </nav>
  <ion-buttons class="menu-button">
    <ion-button (click)="openMenu()">
      <ion-icon icon="menu-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

</ion-header>