<ion-list lines="none">
  <ion-card>
    <img src="assets/shapes.svg" alt="Quicksters Logo" class="logo">
    <ion-card-header>
      <ion-card-title>Juegos</ion-card-title>
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <img src="assets/shapes.svg" alt="Quicksters Logo" class="logo">
    <ion-card-header>
      <ion-card-title>Juegos</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="assets/shapes.svg" alt="Quicksters Logo" class="logo">
    <ion-card-header>
      <ion-card-title>Juegos</ion-card-title>
    </ion-card-header>
  </ion-card>

  
</ion-list>