.background-box {
    display: flex;
    flex-direction: row;
    background: var(--ion-color-accent); 
    border-radius: 20px;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    min-height: 300px;
    gap: 2rem;
    outline: 4px solid var(--white); 
    border-radius: 10px; 
  }
  
  .form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
     
  }
  
  .right-side {
    flex: 1;
    background-color: var(--ion-color-dark);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .registro-img {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  