<ion-app>
  <ion-header [translucent]="true">
    <app-header></app-header>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">soporte</ion-title>
      </ion-toolbar>

    </ion-header>
    <div class="cuadrado_externo">
      <div class="formulario_soporte"> 
        <app-foro-title type="section-title" title="soporte"></app-foro-title>
        <form class="formulario-contacto">
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input placeholder="Nombre" required></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label position="stacked">Apellido</ion-label>
            <ion-input placeholder="Apellido" required></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" placeholder="ejemplo@mail.com" required></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label position="stacked">Mensaje</ion-label>
            <ion-textarea placeholder="Describe tu problema" required></ion-textarea>
          </ion-item>
        
          <ion-button expand="block" type="submit" class="boton-enviar">Submit</ion-button>
        </form>
        
    

        

      </div>
      <div class="cuadrado_interno">
        <div class="img-container">

          <img src="assets/shapes.svg" alt="soporte" class="img_soporte">
        </div>
         <h1>Puedes contactarnos en caso de cualquier problema, sugerencia o consulta. Nuestro equipo de soporte está siempre listo para ayudarte y asegurarse de que tu experiencia sea la mejor posible. No dudes en escribirnos, ¡estaremos encantados de atenderte!</h1>
      </div>
      
    </div>
  </ion-content>

  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>

</ion-app>
