.cuadrado_externo {
    display: flex;
    flex-direction: row;
  background-color:var(--ion-color-primary-dark);
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  
}
.formulario-contacto {
    width: 100%;
    max-width: 422px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 38.3px 0 0 170px;
    
  }

.formulario_soporte {
  margin: 10px 20px;
}

.cuadrado_texto {
  text-align: center;
  color: #333;
}
.cuadrado_interno {

    display: flex;
    flex-direction: column;
    background-color: var(--ion-color-accent);
    width: 100%;
    max-width: 558px;
    justify-content: center;
    align-items: center;
    height: 501px;
    padding: 1rem;
    margin: 1rem 0px 0px 30rem;
    border-radius: 35px;
    box-sizing: border-box;
}
.cuadrado_interno h1 {
    color: var(--White, #FFF);
    text-align: center;
    font-family: "Jersey 15";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}