/* Color de fondo para el menú completo */
ion-menu {
    --background: var(--ion-color-gray);
    --width: 280px;
  }
  
  /* Color de fondo para el contenido del menú */
  ion-menu ion-content {
    --background: var(--ion-color-gray);
  }
  
  /* Color de fondo para el header del menú */
  ion-menu ion-header ion-toolbar {
    --background: var(--ion-color-dark);
    --color: var(--ion-color-dark);
  }
  
  /* Estilos para los elementos de la lista del menú */
  ion-menu ion-list {
    background: transparent;
    padding: 0;
  }
  
  ion-menu ion-item {
    --background: transparent;
    --color: var(--ion-color-dark);
    --border-color: rgba(0, 0, 0, 0.1);
  }
  
  ion-menu ion-item.active {
    --background: var(--ion-color-primary);
    --color: var(--white);
  }

ion-searchbar.menu-searchbar {
    --background: var(--white);
    --color: var(--ion-color-gray);
    --placeholder-color: var(--ion-color-gray);
    --icon-color: var(--ion-color-gray);
    --clear-button-color: var(--ion-color-gray);
  
    --border-radius: 4px;
}

ion-button#iniciar-sesion-movil {
    --background: var(--ion-color-secondary);
    --color:var(--ion-color-dark);
    --border-radius: 8px;
}   

ion-button#registrarse-movil {
    --background: var(--ion-color-primary-dark);
    --color:var(--white);
    --border-radius: 8px;
}