
<div class="gallery-image">
  <div class="title" *ngIf="title==='yes'">
    <ion-title class="big"><ng-content></ng-content></ion-title>
  </div>

  <ion-grid>
    <ion-row>
      <!-- ion-row al ver que hay mas columnas para caber dentro pondra una nueva fila automaticamente-->
      <ion-col size="3" *ngFor="let image of images">
        <ion-card>
          <img [src]="image.src" [alt]="image.alt" class="gallery-image">
          <ion-card-header>
            <ion-card-title>{{ image.title }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
