ion-header {
    display: flex;
    flex-direction: row;
    min-width: 1000px;
    min-height: 148px;
    padding: var(--sds-size-space-800);
    align-items: center;
    align-content: center;
    gap: 0px 18px;
    flex-wrap: wrap;
    background: var(--ion-color-primary);
  }

ion-title {
    font-family: 'Jersey 20';
    font-size: 64px;
  }

.header-logo {
    max-width: 128px;
    max-height: 128px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}


#header-colored {
    color: var(--ion-color-accent); 
}


// Nav

// nav y elementos de navegación
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 18px;
    margin-right: 18px;
    gap: 18px;
    flex-wrap: wrap;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 12px;
  }
  
  li {
    display: flex;
    align-items: center;
  }
  
  a {
    text-decoration: none;
    color: var(--ion-color-white);
    font-family: "Jersey 20";
    font-size: 32px;
    font-weight: 400;
  }
  
  a:hover {
    color: var(--ion-color-gray);
  }

.header-logo-link
{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--ion-color-dark);
}

ion-searchbar.searchbar {
    --background: var(--white);
    --color: var(--ion-color-gray);
    --placeholder-color: var(--ion-color-gray);
    --icon-color: var(--ion-color-gray);
    --clear-button-color: var(--ion-color-gray);
  
    --border-radius: 4px;
}

ion-button#iniciar-sesion {
    --background: var(--ion-color-secondary);
    --color:var(--ion-color-dark);
    --border-radius: 8px;
}   

ion-button#registrarse {
    --background: var(--ion-color-primary-dark);
    --color:var(--white);
    --border-radius: 8px;
}