<ion-header translucent="true" >
  <img src="assets/quicksters-256.webp" class="header-logo">
  <ion-title><span id="header-colored">Quick</span>sters</ion-title>
  <nav>
    <li>
      <ul>Foros</ul>
      <ul>Juegos</ul>
      <ul>Soporte</ul>
      
    </li>
    <div>
      <ion-searchbar placeholder="Buscar tabla.." class="searchbar" ></ion-searchbar>
    </div>
    <ion-button id="iniciar-sesion">Iniciar sesion</ion-button>
    <ion-button id="registrarse">Registrarse</ion-button>  
  </nav>
  
  
</ion-header>