<ion-header translucent="true" >
  <a routerLink="/home" routerLinkActive="active" class="header-logo-link"><img src="assets/quicksters-256.webp" class="header-logo"></a>
    <ion-title><span id="header-colored">Quick</span>sters</ion-title>
  
    
  <nav class="desktop-nav">
    <li>
      <ul class="nav-links">
        <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/foros" routerLinkActive="active">Foros</a></li>
        <li><a routerLink="/juegos" routerLinkActive="active">Juegos</a></li>
        <li><a routerLink="/soporte" routerLinkActive="active">Soporte</a></li>
      </ul>
    </li>
    <div>
      <ion-searchbar placeholder="Buscar tabla.." class="searchbar" ></ion-searchbar>
    </div>
    <ion-button id="iniciar-sesion">Iniciar sesion</ion-button>
    <ion-button id="registrarse">Registrarse</ion-button>  
  </nav>
  <ion-buttons class="menu-button">
    <ion-button (click)="openMenu()">
      <ion-icon icon="menu-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  
</ion-header>

