// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root 
{
    --ion-color-primary: #3861D0;
    --ion-color-secondary: #D0C338;
    --ion-color-accent: #D0A538;
    --ion-color-primary-dark: #4A587C;
    --ion-color-dark: #3E4D51;
    --ion-color-gray: #8B8E7E;
    //añadir rgb
    --ion-color-primary-rgb: 56, 97, 208;
    --ion-color-secondary-rgb: 208, 195, 56;
    --ion-color-accent-rgb: 208, 165, 56;
    --white: #fff;
    --font-family: "Jersey 20", "Jersey 15", arial;
}

ion-title.big {
    font-size: 48px;
    color:var(--ion-color-primary);
    font-family: "Jersey 20", "Jersey 15", arial;
    text-align: center;
    //que el contenido ocupe todo el ancho
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;

    //Hacer que el texto sea responsive
    @media (max-width: 600px) {
        font-size: 32px;
    }
}

ion-content {
    --background: var(--ion-color-secondary);
}

ion-content#side-menu {
    --background-color: var(--ion-color-primary-dark);
}