<ion-app>
  <ion-header>
    <app-header></app-header>
  </ion-header>

  <ion-content [fullscreen]="true" class="juegos-container">
    <div class="background-box">
      <div class="form-container">
        <form (ngSubmit)="onSubmit()" #registroForm="ngForm">
          <ion-list>

            <ion-item>
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input type="text" name="nombre-de-usuario" required ngModel></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-icon name="mail-outline" slot="start"></ion-icon>
              <ion-label position="floating">Correo electrónico</ion-label>
              <ion-input type="email" name="email" required ngModel></ion-input>
            </ion-item>

            <ion-item>
              <ion-icon name="location-outline" slot="start"></ion-icon>
              <ion-label position="floating">Región</ion-label>
              <ion-input type="text" name="Region" required ngModel></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-icon name="navigate-outline" slot="start"></ion-icon>
              <ion-label position="floating">Comuna</ion-label>
              <ion-input type="text" name="Comuna" required ngModel></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-icon name="finger-print-outline" slot="start"></ion-icon>
              <ion-label position="floating">Rut</ion-label>
              <ion-input type="text" name="Rut" required ngModel></ion-input>
            </ion-item>

            <ion-item>
              <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" name="password" required ngModel></ion-input>
            </ion-item>

            <ion-item>
              <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
              <ion-label position="floating">Confirmar Contraseña</ion-label>
              <ion-input type="password" name="Confirmar-Contraseña" required ngModel></ion-input>
            </ion-item>

          </ion-list>

          <ion-button expand="block" type="submit" [disabled]="!registroForm.valid">
            Registrarse
          </ion-button>
        </form>
      </div>

      <!-- Imagen en el lado derecho -->
      <div class="right-side">
        <img src="assets/quicksters-256.webp" alt="Ilustración de registro" class="registro-img" />
      </div>
    </div>

    <ion-footer class="custom-footer">
      <app-footer></app-footer>
    </ion-footer>
  </ion-content>
</ion-app>
