<div *ngIf="typesOfTitle.includes(type)">

  <ng-container [ngSwitch]="type">
    <div *ngSwitchCase="'section-title'" class="section-title">
      <h1>{{title}}</h1>
      <ng-content></ng-content>
    </div>

    <div *ngSwitchCase="'forum-title'" [ngClass]="['forum-title',getColorClass()]" id="forum-title">
      
      
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <div class="forum-title-container">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
      </div>
      <div class="forum-title-stats">
        <p>Threads: {{this.threads}}</p>
        <p>Mensajes:  {{this.messages}}</p>
      </div>
      <div class="forum-data">
        <div class="forum-profile-pic">
          <img [src]="this.lastPostPFP" alt="Profile Picture" class="profile-pic">
        </div>
        <p>{{this.lastPostName}}</p>
      </div>
      <ng-content></ng-content>
    </div>

    <div *ngSwitchCase="'page-title'" class="page-title">
      <div class="text-box">
        <h1>{{title}}</h1>
      </div>
      
      <ng-content></ng-content>
    </div>
  </ng-container>
    
</div>