<!-- Incluir componente header importado-->
<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>


<ion-content [fullscreen]="true">
  <section class="hero">

  </section>

  <section class="trending">
    <ion-title class="big">Ultimas Tablas</ion-title>
    <app-carousel></app-carousel>
  </section>


  <section class = "juegos">
    <div class="galleryContainer">
      <ion-title>Juegos Populares</ion-title>
      <app-gallery></app-gallery>
    </div>
    
  </section>
  <section class ="foros">

  </section>
  <section class="soporte">

  </section>

  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>

</ion-content>

