<div class="gallery-image">
  <div class="title" *ngIf="title==='yes'">
    <ion-title class="big"><ng-content></ng-content></ion-title>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let juego of juegos">
        <a [routerLink]="['/juego', juego.idjuego]" class="gallery-item-link">
          <ion-card class="gallery-item">
            <img [src]="juego.url_icono" alt="{{ juego.juego }}">
            <ion-card-header>
              <ion-card-title>{{ juego.juego }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>