<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background-tab">
    <div class="page-header">
      <app-foro-title type="page-title" title="Foros"></app-foro-title>
    </div>
    <div class="forum-title-list">
      
      <app-foro-title type="section-title" title="Noticias, Anuncios & Recursos"></app-foro-title>
      <app-foro-title type="forum-title" title="Noticias & Anuncios"
          description="Lorem ipsum, dolor sit amet consectetur adipisicing elit." color="light"></app-foro-title>
      <app-foro-title type="forum-title" title="Noticias & Anuncios"
      description="Lorem ipsum, dolor sit amet consectetur adipisicing elit." color="dark"></app-foro-title>
    </div>
    <div class="forum-title-list">
        
      <app-foro-title type="section-title" title="Discusiones, & Consultas"></app-foro-title>
      <app-foro-title type="forum-title" title="Discusión General"
          description="Lorem ipsum, dolor sit amet consectetur adipisicing elit." color="light"></app-foro-title>
      <app-foro-title type="forum-title" title="Guías"
      description="Lorem ipsum, dolor sit amet consectetur adipisicing elit." color="dark"></app-foro-title>
      <app-foro-title type="forum-title" title="Encuentra otros jugadores"
          description="Lorem ipsum, dolor sit amet consectetur adipisicing elit." color="light"></app-foro-title>
    </div>
    <div class="forum-title-list">
          
      <app-foro-title type="section-title" title="Ayuda, & Feedback"></app-foro-title>
        <app-foro-title type="forum-title" title="Ayuda"
            description="Lorem ipsum, dolor sit amet consectetur adipisicing elit." color="light"></app-foro-title>
        <app-foro-title type="forum-title" title="Sugerencias"
        description="Lorem ipsum, dolor sit amet consectetur adipisicing elit." color="dark"></app-foro-title>
        <app-foro-title type="forum-title" title="Feedback"
            description="Lorem ipsum, dolor sit amet consectetur adipisicing elit." color="light"></app-foro-title>
    </div>
  
  
  </div>


  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>
</ion-content>



