<ion-footer class="footer">
  <div class="footer-container">
    <div class="footer-logo-section">
      <img src="assets/quicksters-256.webp" alt="Quicksters logo" class="footer-logo" />
      <ion-title><span class="brand-name">Quick</span>sters</ion-title>
    </div>

    <div class="footer-links">
      <div class="footer-column">
        <h4>Explorar</h4>
        <a href="#">Juegos populares</a>
        <a href="#">Noticias</a>
        <a href="#">Foros</a>
        <a href="#">Acerca de nosotros</a>
      </div>

      <div class="footer-column">
        <h4>Soporte</h4>
        <a href="#">Centro de soporte</a>
        <a href="#">Configuración de cookies</a>
        <a href="#">Términos y Condiciones</a>
      </div>

      <div class="footer-column">
        <h4>Redes</h4>

        <a href="#" class="link-social">
          Discord
          <ion-icon name="logo-discord"></ion-icon>
        </a>
        
        <a href="#" class="link-social">
          Instagram
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
        
        <a href="#" class="link-social">
          
          Twitter/X  
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</ion-footer>
